.home {
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_text {
  text-align: center;
  line-height: 1.9;
  font-size: 1.25em;
  font-family: var(--font-ivy-presto);
}

.hr {
  margin-bottom: 2em;
  max-width: 722px;
  width: 100%;
  border-color: #8e8e8e;
}

.lovehate {
  margin: 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4em;

  font-family: var(--font-ivy-presto);
}

.gh {
  color: orange;
}

.spotify {
  color: green;
}

.x {
  color: red;
}
